# Python
Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1

# Machine Learning
pandas==2.2.0
numpy==1.26.4
scikit-learn==1.4.0
matplotlib==3.8.2
seaborn==0.13.0

# Database
psycopg2-binary==2.9.9

# Production server
gunicorn==21.2.0
whitenoise==6.6.0

# Utilities
python-decouple==3.8
